<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/leanevent.css "/>
    <link rel="stylesheet" href="css/foot.css" type="text/css" />
</head>
<body>
<div>
    <p class="footerfont">LEAN EN LAS REDES SOCIALES
    </p>
    <div style="text-align: center">
    <!--three icon -->
        <div style="height: 80px;display: inline-block;vertical-align: middle;text-align: center;margin: 7px">
            <a href="https://www.twitter.com"> <img src="pic/conf/twitter_foot.png"style="vertical-align:middle;"></a>
        </div>
    <div style="height: 80px;display: inline-block;vertical-align: middle;text-align: center;margin: 7px">
        <a href="https://www.facebook.com"> <img src="pic/conf/facebook_foot.png"style="vertical-align:middle;"></a>
    </div>

    <div style="height: 80px;display: inline-block;vertical-align: middle;text-align: center;margin: 7px">
        <a href="https://www.instagram.com"> <img src="pic/conf/instagram_foot.png"style="vertical-align:middle;"></a>
    </div>
    </div>


    <div class="footer"><p  class="footerbox footerfont">copyright ©2019 All rights reserved | This web is made with ♡ by <a class="footer" href="https://www.diazapp.com">DiazApps</a></p>
    </div>
</div>
<div>
    <a href="#top"><img class="wrap" src="pic/conf/up-square-fill.png" ></a>
</div>
</body>
</html>