.footerbox{
    padding: 25px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-left: 25px;
}
a.footer:link,a:visited {
    text-decoration:none;
    Vertical-align:bottom;

    color:#FFC300;
    font-family: Roboto;
    font-weight: bold;
    font-size: .70em;
}/*  a.footer:hover{
       color:#FFC300;
   }
p.footerfont{
    color:  #595959;
    font-family: Roboto;
    font-weight: bold;
    font-size: .70em;
    text-align: center;
}*/
img.footer{
    text-align: right;
}
div.footer{
    display:inline;
}
.wrap {
    display:block;
    bottom:5px;
    right:1px!important;
    position:absolute;
    margin: 5px;
    position:fixed;
}